.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.rail-container {
    display: flex;
    justify-content: space-between;
}

.deck-container {
    display: flex;
    margin-top: 20px;
}

.reset-button {
    margin: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    width: 100px;
    padding-right: 6px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.value-container {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.value-image {
    padding: 6px;
    width: 40px;
}

.reset-image {
    padding: 6px;
    width: 20px;
}